.pokemon_list {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	height: 100%;
}

.pokemon_list button {
	border: 0;
	background: var(--color-primary);
	padding: 16px 32px;
	font-size: var(--font-size-16);
	font-weight: 600;
	color: var(--color-on-primary-high-emphasis);
	cursor: pointer;
}
.pokemon_list button:hover {
	background: var(--color-primary-hover);
}
